.header {
  height: 85vh;
  background-color: #fd4f6b;
  overflow: hidden;
}
.container {
  padding: 50px 50px 5px 50px;
}
.nav {
  /* padding: 50px; */
}

.nav-link {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.heading-prim {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
  line-height: 1.5;
  font-size: 45px;
}
.nav-items:hover {
  color: whitesmoke;
}

.nav a:nth-child(2) {
  margin-left: auto;
}
.iphone-pic {
  position: relative;
}
.iphone6 {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}
.download-icon {
  width: 14px;
  filter: invert(100%);
  margin-right: 2px;
  margin-bottom: 3px;
}

.download-btn {
  background-color: transparent;
}
button {
  width: 130px;
}

/* INFO SECTION */
.info {
  padding: 100px;
}
.info-img {
  width: 100px;
  filter: invert(39%) sepia(63%) saturate(763%) hue-rotate(304deg)
    brightness(104%) contrast(102%);
}
.info__width {
  width: 30%;
}

/* Testimonial */
.testimonials {
  background-color: #fd4f6b;
}
.padding {
  padding: 100px 200px 0px 200px;
}
.testimonial-img {
  width: 90px;
  border-radius: 300px;
  margin-right: 20px;
}
.testimonial-names {
  font-weight: lighter;
  font-style: italic;
}
.brand-img {
  width: 200px;

  margin-right: 20px;
  margin-bottom: 100px;
  margin-top: 100px;
}

/* Download */
.download {
  background-color: #fd4f6b;
}
.download-container {
  padding: 100px 50px 100px 50px;
}

/* Footer */
.social-img {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 25px;
  height: 25px;
}
.footer-div > img:not(:last-child) {
  margin-right: 30px;
}
span {
  color: blue;
}
.name:hover {
  cursor: pointer;
}
